.section-1{
    background-image: url(banner1.png);
    height: 600px;
    text-align: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    align-items:  center;
    padding: 200px;

} 
.img-2{
    padding: 100px;
    position: relative;
    left: 200px;
    bottom: 500px;
    list-style: none;
    margin-left: 700px;
}
.img-4{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.section-2{
   height: 900px;
}
.font{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.color{
    color: gray;
}

.watch{
    position: relative;
    left: 200px;
}
.watch-content{
    text-align: center;
    justify-content: center;
}
.section-3{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}
.section-3-div{
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.watch-content{
    background-image: url(./watch.png);
    background-repeat: no-repeat;
    height: 40vh;
    text-align: left;
    position: relative;
    left: 200px;
    padding: 40px;
}